<section class="share__container">
  <div class="share__header icons-3 icons-up">
    <!-- <i class="fas fa-share-alt"></i> -->
    <h4 class="share__title">comparte</h4>
  </div>
  <div class="share__button-create">
    <button><i class="far fa-address-card"></i>crear tarjeta</button>
  </div>

  <div class="share__notification">
    <h5 class="notification__title">La tarjeta ha sido creada:</h4>
    <a class="share__link" href=""></a>
    <a class="share__button-tw" href=""><i></i>compartir en twitter</a>
  </div>
</section>
