<section class="design-container js-collapsable js-collapsable-open">
  <div class="design__header icons-1 arrow js-collapsable--trigger">
    <h4 class="design__header--title">diseña</h4>
  </div>
  <div class="design__form js-collapsable--content">
    <h5 class="design__form--title">colores</h5>
    <form class="form__palette" id="js-form-design">
      <div class="form__palette--1">
        <label class="x1" for=""></label>
        <input
          value="1"
          type="radio"
          name="palette"
          id="form-palette1"
          class="design__form--radio js-form-palette1"
          checked="checked"
        />
        <ul class="palette-color">
          <li class="palette-color__1"></li>
          <li class="palette-color__2"></li>
          <li class="palette-color__3"></li>
        </ul>
      </div>
      <div class="form__palette--2">
        <label class="x1" for=""> </label>
        <input
          value="2"
          type="radio"
          name="palette"
          id="form-palette2"
          class="design__form--radio js-form-palette2"
        />
        <ul class="palette-color">
          <li class="palette-color__4"></li>
          <li class="palette-color__5"></li>
          <li class="palette-color__6"></li>
        </ul>
      </div>
      <div class="form__palette--3">
        <label class="x1" for=""></label>
        <input
          value="3"
          type="radio"
          name="palette"
          id="form-palette3"
          class="design__form--radio js-form-palette3"
        />
        <ul class="palette-color">
          <li class="palette-color__7"></li>
          <li class="palette-color__8"></li>
          <li class="palette-color__9"></li>
        </ul>
      </div>
      <div class="form__palette--4">
        <label class="x1" for=""></label>
        <input
          value="4"
          type="radio"
          name="palette"
          id="form-palette4"
          class="design__form--radio js-form-palette3"
        />
        <ul class="palette-color">
          <li class="palette-color__10"></li>
          <li class="palette-color__11"></li>
          <li class="palette-color__12"></li>
        </ul>
      </div>
    </form>
  </div>
</section>
