<section class="design-container">
  <div class="design__header">
    <i class="far fa-object-ungroup"></i>
    <h4>diseña</h4>
    <i></i>
  </div>
  <div class="design__form">
    <h5>colores</h5>
    <form>
      <div class="form__palette">
        <label for="">
          <input type="radio" name="palette1" id="form-palette1" />
          <div class="palette-color__1"></div>
          <div class="palette-color__2"></div>
          <div class="palette-color__3"></div>
        </label>
      </div>
      <div class="form__palette">
        <label for="">
          <input type="radio" name="palette2" id="form-palette2" />
          <div class="palette-color__4"></div>
          <div class="palette-color__5"></div>
          <div class="palette-color__6"></div>
        </label>
      </div>
      <div class="form__palette">
        <label for="">
          <input type="radio" name="palette3" id="form-palette3" />
          <div class="palette-color__7"></div>
          <div class="palette-color__8"></div>
          <div class="palette-color__9"></div>
        </label>
      </div>
    </form>
  </div>
</section>
