<section class="section1">
  <div class="section1-container">
    <button type="button" class="button_reset">
      <i class="trash"></i>
      RESET
    </button>

    <div class="section1_card">
      <div class="section1_card_name">
        <h2 class="section1_card_name name"></h2>
        <h3 class="section1_card_name job"></h3>
      </div>

      <div class="section1_image"></div>
      <div>
        <ul class="section1_links">
          <li class="section1_element">
            <a href="#"></a>
          </li>
          <li class="section1_element">
            <a href="#"></a>
          </li>
          <li class="section1_element">
            <a href="#"></a>
          </li>
          <li class="section1_element">
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
