<section class="share__container js-collapsable">
  <div class="share__header icons-3 arrow js-collapsable--trigger"> 
    <h4 class="share__title">comparte</h4>
  </div>
  <div class="share__card js-collapsable--content">
    <button class="share__card__button-create icon-card js-button--filter js-share-button" title="Crea tu tarjeta"></i>Crear tarjeta</button>
    <div class="share__notification js-share--url">
      <h5 class="notification__title">La tarjeta ha sido creada:</h4>
      <a class="notification__link" href="" title="Comparte tu tarjeta con este link">www.algo.com</a>
      <a class="notification__button-tw icon-tw" href="" title="Comparte tu tarjeta a través de twitter">Compartir en twitter</a>
    </div>
  </div>

</section>
