<section class="design-container">
  <div class="design__header">
    <i class="far fa-object-ungroup"></i>
    <h4>diseña</h4>
    <i></i>
  </div>
  <div class="design__form">
    <h5>colores</h5>
    <form>
      <div class="form__palette">
        <label for="">
          <input type="radio" name="palette1" id="form-palette1" />
          <ul>
            <li class="palette-color__1"></li>
            <li class="palette-color__2"></li>
            <li class="palette-color__3"></li>
          </ul>
        </label>
      </div>
      <div class="form__palette">
        <label for="">
          <input type="radio" name="palette2" id="form-palette2" />
          <ul>
            <li class="palette-color__4"></li>
            <li class="palette-color__5"></li>
            <li class="palette-color__6"></li>
          </ul>
        </label>
      </div>
      <div class="form__palette">
        <label for="">
          <input type="radio" name="palette3" id="form-palette3" />
          <ul>
            <li class="palette-color__7"></li>
            <li class="palette-color__8"></li>
            <li class="palette-color__9"></li>
          </ul>
        </label>
      </div>
    </form>
  </div>
</section>
