<section class="section1">
  <div class="section1-container">
    <button type="button" class="button_reset">
      <i class="far fa-trash-alt"></i>
      RESET
    </button>

    <div class="section1_card">
      <div class="section1_card_name">
        <h2 class="section1_card_name name">Nombre Apellido</h2>
        <h3 class="section1_card_ name job">Front-end developer</h3>
      </div>

      <div class="section1_image">
        <img
          src="http://placehold.it/240x200"
          alt="avatar"
          title="imagen del usuario"
        />
      </div>

      <div>
        <ul class="section1_links">
          <li class="section1_element">
            <a href="#"></a>
          </li>
          <li class="section1_element">
            <a href="#"></a>
          </li>
          <li class="section1_element">
            <a href="#"></a>
          </li>
          <li class="section1_element">
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
