<section class="section1">
  <div class="section1__container">
    <button type="button" class="section1__container__reset">
      <i class="far fa-trash-alt"></i>
      <p>Reset</p>
    </button>

    <div class="section1__container__card">
      <div class="section1__container__card__info">
        <h2 class="section1__container__card__info__h2">Nombre Apellido</h2>
        <h3 class="section1__container__card__info__h3">Front-end developer</h3>
      </div>

      <div class="section1_container__img">
        <img src="http://placehold.it/240x240" alt="avatar" title="imagen del usuario" />
      </div>

      <div class="section1__container__card__links">
        <ul class="section1__container__card__links__ul">
          <li class="section1__container__card__links__ul__element">
            <a href="#"></a>
          </li>
          <li class="section1__container__card__links__ul__element">
            <a href="#"></a>
          </li>
          <li class="section1__container__card__links__ul__element">
            <a href="#"></a>
          </li>
          <li class="section1__container__card__links__ul__element">
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

//
<section class="section1">
  <div class="section1-container">
    <button type="button" class="button_reset">
      <i class="far fa-trash-alt"></i>
      Reset
    </button>

    <div class="section1_card">
      <div class="section1_card_info">
        <h2 class="section1_card_info name">Nombre Apellido</h2>
        <h3 class="section1_card_ info job">Front-end developer</h3>
      </div>

      <div class="section1_image">
        <img src="http://placehold.it/240x200" alt="avatar" title="imagen del usuario" />
      </div>

      <div>
        <ul class="section1_links">
          <li class="section1_element">
            <a href="#"></a>
            <i class="fas fa-mobile-alt"></i>
          </li>
          <li class="section1_element">
            <a href="#"></a>
            <i class="far fa-envelope"></i>
          </li>
          <li class="section1_element">
            <a href="#"></a>
            <i class="fab fa-linkedin-in"></i>
          </li>
          <li class="section1_element">
            <a href="#"></a>
            <i class="fab fa-github-alt"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
