<section class="container-fill js-collapsable">
  <form action="" method="" id="js-form-fill">
    <fieldset class="form-fill">
      <div
        class="form-fill__group--title icons-2 arrow js-collapsable--trigger"
      >
        <legend class="form-fill__title">Rellena</legend>
      </div>
      <div class="form-fill__content js-collapsable--content">
        <!-- <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-name">Nombre completo</label>
        <input
          class="form-fill__input js-form-name"
          type="text"
          id="form-name"
          name="name"
          placeholder="Ej:Sally Jill"
          required
        />
        <!-- </div> -->
        <!-- <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-job">Puesto</label>
        <input
          class="form-fill__input js-form-job"
          type="text"
          id="form-job"
          name="job"
          placeholder="Ej:Front-end unicorn"
          required
        />
        <!-- </div>
        <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-photo"
          >Imagen de perfil</label
        >
        <input
          class="form-fill__input"
          type="file"
          id="form-photo"
          name="photo"
          required
        />
        <button class="form-fill__button-image" title="Selecciona tu foto">
          Añadir imagen
        </button>
        <!-- </div>
        <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-phone">Teléfono</label>
        <input
          class="form-fill__input js-form-tel"
          type="tel"
          id="form-phone"
          name="phone"
          placeholder="Ej: 555-55-55-55"
          required
        />
        <!-- </div>
        <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-email">Email</label>
        <input
          class="form-fill__input js-form-email"
          type="email"
          id="form-email"
          name="email"
          placeholder="Ej: sally.hill@gmail.com"
          required
        />
        <!-- </div>
        <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-linkedin">Linkedin</label>
        <input
          class="form-fill__input js-form-linkedin"
          type="text"
          id="form-linkedin"
          name="linkedin"
          placeholder="Ej: @sally-hill"
          required
        />
        <!-- </div>
        <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-github">Github</label>
        <input
          class="form-fill__input js-form-github"
          type="text"
          id="form-github"
          name="github"
          placeholder="Ej: @sally-hill"
          required
        />
        <!-- </div> -->
      </div>
    </fieldset>
  </form>
</section>
