<section class="container-fill js-collapsable">
  <form action="" method="" id="js-form-fill" class="js-form">
    <fieldset class="form-fill">
      <div
        class="form-fill__group--title icons-2 arrow js-collapsable--trigger"
      >
        <legend class="form-fill__title">Rellena</legend>
      </div>
      <div class="form-fill__content js-collapsable--content">
        <!-- <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-name">Nombre completo</label>
        <input
          class="form-fill__input js-form-name"
          type="text"
          id="form-name"
          name="name"
          placeholder="Ej:Paquita Salas"
          maxlenght="15"
          pattern="[A-Za-z]{2,15}"
          title="Introduce entre 2 y 15 letras"
          required
        />
        <!-- </div> -->
        <!-- <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-job">Puesto</label>
        <input
          class="form-fill__input js-form-job"
          type="text"
          id="form-job"
          name="job"
          placeholder="Ej:Representante de artistas"
          maxlenght="30"
          pattern="[A-Za-z]{2,15}"
          title="Introduce entre 2 y 30 letras"
          required
        />
        <div class="form-fill__group-photo">
          <label class="form-fill__label" for="form-photo"
            >Imagen de perfil</label
          >
          <input
            class="form-fill__input hidden js-file-input"
            type="file"
            id="form-photo"
            name="photo"
          />
          <button
            class="form-fill__group-photo--button js-uploadBtn"
            title="Selecciona tu foto"
          >
            Añadir imagen
          </button>
          <div class="form-fill__group-photo--preview js-preview"></div>
        </div>
        <label class="form-fill__label" for="form-phone">Teléfono</label>
        <input
          class="form-fill__input js-form-tel"
          type="tel"
          id="form-phone"
          name="phone"
          placeholder="Ej: 555-55-55-55"
          pattern="[0-9]{9}"
          title="Número de 9 cifras"
          required
        />
        <!-- </div>
        <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-email">Email</label>
        <input
          class="form-fill__input js-form-email"
          type="email"
          id="form-email"
          name="email"
          placeholder="Ej: psmanagement@gmail.com"
          required
        />
        <!-- </div>
        <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-linkedin">Linkedin</label>
        <input
          class="form-fill__input js-form-linkedin"
          type="text"
          id="form-linkedin"
          name="linkedin"
          placeholder="Ej: @paquitasalas"
          required
        />
        <!-- </div>
        <div class="form-fill__group--input"> -->
        <label class="form-fill__label" for="form-github">Github</label>
        <input
          class="form-fill__input js-form-github"
          type="text"
          id="form-github"
          name="github"
          placeholder="Ej: @paquitasalas"
          required
        />
        <!-- </div> -->
      </div>
    </fieldset>
  </form>
</section>
