<section class="share__container">
  <div class="share__header icons-3 arrow">
    <!-- <i class="fas fa-share-alt"></i> -->
    <h4 class="share__title">comparte</h4>
  </div>
  
  <button class="share__button-create"><i class="far fa-address-card"></i>crear tarjeta</button>


  <div class="share__notification">
    <h5 class="notification__title">La tarjeta ha sido creada:</h4>
    <a class="notification__link" href=""></a>
    <a class="notification__button-tw" href=""><i></i>compartir en twitter</a>
  </div>
</section>
