<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,900|Montserrat:400,700|Open+Sans|Rubik&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/61294e7035.js"
      crossorigin="anonymous"
    ></script>
    <title>Awesome profile-cards</title>
    <link rel="icon" href="./favicon.png" />
    <script
      src="https://kit.fontawesome.com/61294e7035.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_landing-main.html"></partial>
      <partial src="_footer.html"></partial>
    </div>
    <script src="./assets/js/1.main.js"></script>
  </body>
</html>
