.design-container {
  // border: solid red 5px;
  padding: 0 2rem;

  @media all and (min-width: 768px) {
    padding: 0;
  }
}

.icons-1:before {
  content: "\f248";
  @include CardsIcons;
}

.arrow:after {
  @include CardsArrow;
}

.design {
  &__header {
    // border: solid blue 2px;
    display: flex;
    position: relative;
    // padding: 1rem 1.6rem 1rem 3.1rem;
    padding: 2.7rem 1.6rem 1rem 3.1rem;

    // margin-bottom: 2.2rem;

    &--title {
      // border: solid 3px;
      @include CardTitle;
    }
  }

  &__form {
    // border: solid green 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #d8d8d8;

    &--title {
      font-family: $fontFamily;
      width: 6.2rem;
      font-size: $fontSizeCardText;
      color: $colorDarkGrey;
      text-transform: $textTransformTitle;
      margin-top: 2rem;
      font-weight: 400;
    }

    // &--radio {
    //   padding-top: 1rem;
    //   border: 2px solid red;
    // }
  }
}

.form__palette {
  // border: solid #fabada 2px;
  display: flex;
  flex-direction: column;

  // position: relative;
  // left: 8.2rem;

  margin-bottom: 3rem;

  &--1,
  &--2,
  &--3 {
    // border: solid 2px red;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }
}

.x1 {
  display: inherit;
}
.palette-color {
  // border: solid 2px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-left: 1rem;

  width: 9rem;
  height: 2.5rem;

  &__1 {
    width: 3rem;
    background: $colorDarkGreenBlue;
  }

  &__2 {
    width: 3rem;
    background: $colorBlue;
  }

  &__3 {
    width: 3rem;
    background: $colorGreen;
  }

  &__4 {
    width: 3rem;
    background: $colorDriedBlood;
  }

  &__5 {
    width: 3rem;
    background: $colorRustyRed;
  }

  &__6 {
    width: 3rem;
    background: $colorTomato;
  }

  &__7 {
    width: 3rem;
    background: $colorSlate;
  }

  &__8 {
    width: 3rem;
    background: $colorFadedOrange;
  }

  &__9 {
    width: 3rem;
    background: $colorLightGreyBlue;
  }
}

#form-palette1 {
  padding-top: 1rem;
  border: 2px solid red;
}

.js-collapsable--content {
  display: none;
}

.js-collapsable-open {
}
.js-collapsable-open .arrow::after {
  transform: rotate(-180deg);
}
.js-collapsable-open .js-collapsable--content {
  display: flex;
}
