.design-container {
  border: solid red 5px;
}

.design {
  &__header {
    border: solid blue 2px;
    display: flex;

    &--title {
      @include CardTitle;
    }
    .icons-1:before {
      content: "\f248";
      @include CardsIcons;
    }
  }

  &__form {
    border: solid green 2px;
    display: flex;

    &--title {
      @include CardText;
      text-transform: $textTransformTitle;
    }
  }
}

.form__palette {
  border: solid #fabada 2px;

  display: flex;
}

.palette-color {
  // border: solid 2px;
  display: flex;
  flex-direction: row;
  align-content: space-between;

  width: 9rem;
  height: 2.5rem;

  &__1 {
    width: 3rem;
    background: $colorDarkGreenBlue;
  }

  &__2 {
    width: 3rem;
    background: $colorBlue;
  }

  &__3 {
    width: 3rem;
    background: $colorGreen;
  }

  &__4 {
    width: 3rem;
    background: $colorDriedBlood;
  }

  &__5 {
    width: 3rem;
    background: $colorRustyRed;
  }

  &__6 {
    width: 3rem;
    background: $colorTomato;
  }

  &__7 {
    width: 3rem;
    background: $colorSlate;
  }

  &__8 {
    width: 3rem;
    background: $colorFadedOrange;
  }

  &__9 {
    width: 3rem;
    background: $colorLightGreyBlue;
  }
}
