.container-fill {
  padding: 0 2rem;

  @media all and (min-width: 768px) {
    padding: 0;
  }
}

.form-fill {
  &__group--title {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-top: $colorBorderTop solid 0.1rem;
  }
  .icons-2::before {
    content: "\f11c";
    @include CardsIcons;
  }

  .arrow::after {
    @include CardsArrow;
  }

  &__title {
    @include CardTitle;
    padding: 1rem 0 1rem 3.1rem;
    width: 100%;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  &__label {
    @include CardText;
    margin: 0.8rem 0;
    display: block;
  }

  &__input {
    @include CardInput;
    height: 3rem;
    width: 100%;
    display: block;

    &::placeholder {
      padding-left: 0.5rem;
    }
  }

  &__group-photo {
    display: inline-block;
    position: relative;

    &--button {
      background: $colorOrange;
      border: none;
      width: 14rem;
      height: 3rem;
      border-radius: 0.3rem;
      font-family: $fontFamily;
      color: $colorWhite;
      cursor: pointer;
    }
    &--preview {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      border: solid 0.1rem $colorGreen;
      margin-left: 2rem;
      position: absolute;
      background-position: center;
      background-size: cover;
    }
  }
}
.legend {
  font-family: $fontFamily;
  color: $colorOrange;
  font-size: 1.1rem;
  padding-top: 1rem;
  text-align: right;
}
.hidden {
  display: none;
}
