.icons-3:before {
  content: "\f1e0";
  @include CardsIcons;
}

.icons-up:after {
  content: "\f077";
  @include CardsIcons;
}

.share {
  &__container {
    padding: 1rem 2 rem 0rem 2rem;
  }

  &__header {
    border: solid blue 2px;
    display: flex;
    position: relative;
  }
  &__title {
    @include CardTitle;
  }

  &__button-create {
    background: $colorOrange;
    @include CardTitle;
    color: $colorWhite;
    border: none;
    border-radius: 1.2rem;
    height: 5rem;
    padding-left: 1.7rem;
    padding-right: 1.8rem;
  }
}
