.icons-3:before {
  content: "\f1e0";
  @include CardsIcons;
}

.icons-up:after {
  content: "\f077";
  @include CardsIcons;
}

.share {
  &__container {
    padding: 1rem 2 rem 0rem 2rem;
    border: 2px red solid;
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__header {
    width: 100%;
    justify-content: flex-start;
    padding: 1rem 1.6rem 1rem 3.1rem;
    border: solid blue 2px;
    display: flex;
    position: relative;
  }
  &__title {
    @include CardTitle;
  }

  &__button-create {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colorOrange;
    @include CardTitle;
    color: $colorWhite;
    border: none;
    border-radius: 1.2rem;
    height: 5rem;
    padding-left: 1.7rem;
    padding-right: 1.8rem;
  }
}
