.section1 {
  height: 457px;
  background-image: linear-gradient(#bfcdd0, #dde9ed);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1-container {
  display: block;
}

.button_reset {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px #ffffff;
  display: flex;
}

.section1_card {
  width: 240px;
  min-height: 330px;
  margin-top: 20px;
}

.section1_card_name {
  display: block;
  //////////////revisar///////
  border-left: 5px solid #438792;
  /////revisar////
  name {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
  job {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
}
.section1_image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 240px;
  position: relative;
  display: block;
}
/*
.section1_links {
}
/*
.section1_element{}
*/
