.section1 {
  height: 457px;
  /*background-image: linear-gradient(to bottom, var(--silver), var(--pale-grey));*/
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid blue;
}
.section1-container {
  border: 3px solid red;
  display: block;
}

.button_reset {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px #ffffff;
}

.section1_card {
  border: 3px green solid;
  width: 240px;
  min-height: 330px;
  margin-top: 20px;
}
/*
.section1_card_name {
}
(.section1_card_name name
.section1_card_name job)
.section1_image{}
.section1_links{}
.section1_element{}
*/
