.card-photo {
  height: 100%;
  background-image: linear-gradient(#bfcdd0, #dde9ed);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    // height: auto;
    border: 3px solid red;
    // display: block;
    padding: 3.8rem 3.5rem 4rem 4.5rem;

    &__reset {
      width: 7.5rem;
      height: 3rem;
      border-radius: 1.5rem;
      border: 1px solid $colorWhite;
      background:transparent;
      font-family: $fontFamily;
      font-size: 1.2rem;
      color: $colorDarkGrey;
      text-transform: uppercase;
      display: flex;
      justify-content: space-evenly;
    }
      .icon-reset:before {
        content: "\f2ed";
        font-family: "FontAwesome";
        color: $colorDarkGrey;
        font-size: 1.2rem;
      }
    
  &__card {
      width: 24rem;
      min-height: 33rem;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      border: 3px solid yellowgreen;
      padding-top: 2.1rem;
      background: $colorWhite;

    &__info {
        border: springgreen solid 1px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1.5rem;
        margin-bottom: 1rem;
        border-left: 0.5rem $colorBlue solid;
        
      &__name {
          width: 20.6rem;
          font-family: $fontFamilyPhoto;
          font-size: $fontSiePhotoTitle;
          font-weight: bold;
          color: $colorDarkGreenBlue;
          line-height: 2rem;
        }
      &__job {
          width: 16.8rem;
          line-height: 2rem;
          font-family: $fontFamilyPhoto;
          font-size: $fontSizePhotoText;
          color: $colorGrey;
        }
    }
    &__image {
      border: blue solid 1px;
      height: 20rem;
      background-image: url(../images/background_240x200.png) ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
        
        // position: relative;
        // display: block;
      }
      &__links {
        height: 5.4rem;
        border: solid 2px violet;
        &__items {
          border: solid 2px blue;
        }
       }
      }
      }
    }
  

