* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* 1rem = 10px */
html {
  font-size: 62.5%;
  width: 100%;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}
