* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  width: 100%;
}

body {
  height: 100vh;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

ul {
  padding-inline-start: 0;
}
