// color

$colorBlack: #000000;
$colorGrey: #6b6b6b;
$colorDarkGrey: #54585a;
$colorDarkGreenBlue: #114e4e;
$colorBlue: #438792;
$colorGreen: #a2deaf;
$colorKhaki: #f9f4dc;
$colorWhite: #ffffff;
$colorOrange: #e17334;

// fonts

$fontFamilyTitle: "Rubik";
$fontFamilyText: "Open Sans";
$fontFamilyPhoto: "Montserrat", sans-serif;

$fontSizeLandingTitle: 1.92rem;
$fontSizeLandingText: 1.28rem;
$fontSiePhotoTitle: 1.8rem;
$fontSizePhotoText: 1.6rem;
$fontSizeTitle: 1.8rem;
$fontSizeText: 1.4rem;

$fontWeightLandingTitle: 900;
$fontWeightTitle: 600;

$textTransformTitle: uppercase; //para poner los títulos en mayúsculas automáticamente
