// color

$colorBlack: #000000;
$colorLightGrey: #f5f5f5;
$colorGrey: #6b6b6b;
$colorDarkGrey: #54585a;
$colorDarkGreenBlue: #114e4e;
$colorBlue: #438792;
$colorGreen: #a2deaf;
$colorKhaki: #f9f4dc;
$colorWhite: #ffffff;
$colorOrange: #e17334;
$colorDriedBlood: #420101;
$colorRustyRed: #bd1010;
$colorTomato: #e95626;
$colorSlate: #3e5b65;
$colorFadedOrange: #eab052;
$colorLightGreyBlue: #a0c0cf;
$colorPurplePaquita: #800080;
$colorRedPaquita: #f827a8;
$colorPinkPaquita: #fab1bd;
$colorBorderTop: #d8d8d8;

// fonts

$fontFamily: "Open Sans";
$fontFamilyPhoto: "Montserrat", sans-serif;
$fontFamilyLandingTitle: "Merriweather";

$fontSizeLandingTitle: 1.92rem;
$fontSizeLandingText: 1.28rem;
$fontSizePhotoTitle: 1.8rem;
$fontSizePhotoText: 1.6rem;
$fontSizeCardTitle: 1.8rem;
$fontSizeCardText: 1.4rem;

$fontWeightLandingTitle: 900;
$fontWeightCardTitle: 600;

$textTransformTitle: uppercase;
